html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

<<<<<<< HEAD
td, th {
    padding: 10px;
    margin: 10px;
    border: inset;
=======
td {
    padding: 10px;
    margin: 10px;
>>>>>>> 3d91e5f49e3e3dc622004535836c6787c0c53426
}