@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CodingEvents.ViewModels;
@model AddEventViewModel;

<h1>Add Event</h1>
<form asp-controller="Events" asp-action="Add" method="post">
    
    <div class="form-group">
        <label asp-for="Name">Event Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="ContactEmail">Contact Email</label>
        <input asp-for="ContactEmail" />
        <span asp-validation-for="ContactEmail" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Location"></label>
        <input asp-for="Location" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="EstAttendance"></label>
        <input asp-for="EstAttendance" />
        <span asp-validation-for="EstAttendance" class="text-danger"></span>
    </div>
    
    <input type="submit" value="Add Event" class="btn btn-primary"/>
</form>